.button {
    border-radius: 5px;
    background-color: $color-red;
    border: none;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    &_call {
        width: 153px;
        height: 32px;
        font-size: 12px;
    }
    &_main {
        margin-top: 67px;
        width: 303px;
        height: 54px;
        font-size: 16px;
    }
    &_submit {
        height: 58px;
        width: 300px;
        font-size: 16px;
    }
}